{% extends 'inc/base.html.twig' %}

{% block title %}Change Your Password{% endblock %}

{% block main %}

    <h1>Change Your Password</h1>

    {{ form_start(changePasswordForm) }}
        {{ form_widget(changePasswordForm) }}

        <button class="" type="submit">Submit</button>
    {{ form_end(changePasswordForm) }}


{% endblock %}