{% extends 'inc/base.html.twig' %}

{% block title %}Account{% endblock %}

{% block main %}

    <h1>{{ app.user.username }}</h1>

    <p>{{ app.user.highestLevel }}</p>

    <p>{{ app.user.highestScore }}</p>

    <p>Change your password <a href="{{ path('change_password') }}">here</a>.</p>

{% endblock %}
