{% extends 'inc/base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('assets/style/app.index.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

<p>
    STYC is a hack-n-slash adventure game where you are trying to rip through 
    as many enemies as you can before you fall in battle, leaving your village 
    open to extinction.
</p>

<p>
    Two neighboring villages have been at peace for 1,000 years after the 
    Great-300-Year, G3Y, war that ended the feud. However, unknown to those 
    who reside in Hakiboro Village, the tribe of Junditar have been growing 
    in numbers: passively waiting for the perfect time to strike! And on 
    this beautiful day, as you are tending to your crops, you feel the ground 
    start to tremble. You look up to see an onslaught of Junditarians 
    charging towards your village. Then, the war trumpets sing as you 
    tighten your grip on your farm tool and widen your stance. You and 
    your farm mates are the only defensive line to this village so you 
    must hold off as many Jundis as you can!
</p>

<p>
    You have friends to help you, so don’t feel like you must personally defeat 
    every enemy coming your way. You can attempt to dodge them as they come 
    rushing in, leaving them up to your companions as you try to defeat the 
    next incoming threat!
</p>

<p>
    Worry not! If you pass, your name will go down in history as being the greatest 
    of heroes who died defending this village against a plethora of enemies. Children 
    of the future will read about how many you were able to stop before you fell! 
    So let's see how many you can slash until you crash! 
</p>

{% endblock %}