{% extends 'inc/base.html.twig' %}

{% block title %}Home{% endblock %}

{% block main %}

    <h1>Slash Till You Crash</h1>

    <p>
        Slash Till You Crash is a text-based dungeon crawler. The adventurer's 
        objective is surviving as long as possible before dying with the highest 
        score.
    </p>

{% endblock %}