{% extends 'inc/base.html.twig' %}

{% block title %}Register{% endblock %}

{% block main %}

    

    {{ form_start(registrationForm, {
        attr: { class: 'registration-form' }
    })
    }}
        <h1>Register Your Account</h1>
        
        {{ form_widget(registrationForm) }}

        <button class="" type="submit">Register</button>
    {{ form_end(registrationForm) }}

{% endblock %}