* {
    margin: 0;
    padding: 0;
}

#app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* [ Header Styles ] */

header {
    background: blue;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
}

header > .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1260px;
}

header > .wrapper > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

header > .wrapper > nav > a {
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
}

/* [ Main Content Styles ] */

main {
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(210,210,210,1) 8%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;  
}

main > .wrapper {
    display: flex;
    flex-direction: column;
    width: 860px;
}


/* [ Footer Styles ] */

footer {
    background: #141414;
    color: white;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    height: 150px;
}

footer > .wrapper {
    display: flex;
    width: 1260px;
    flex-direction: row;
}