.app-form {
    display: flex;
    flex-direction: column;
}

.app-form > h1 {
    font-family: 'Bree Serif', sans-serif;
    font-weight: lighter;
    padding: 15px 0;
}

.form-input {
    border: 1px solid #888;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 18px;
    margin: 5px 0 20px;
    width: 400px;
}

.form-input:focus {
    border-color: #00f;
}

.form-submit {
    background: #00f;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    margin-top: 25px;
    width: 400px;
}

.login-form-options {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: -10px;
}