table {
    border: 1px solid #000;
    border-collapse: collapse;
    border-radius: 2px;
    width: 75%;
    table-layout: fixed;
}

table th:nth-child(1) {
    width: 30%;
}

table th:nth-child(2) {
    width: 35%;
}

table th:nth-child(3) {
    width: 20%
}

table th:nth-child(4) {
    width: 15%;
}

th {
    border-bottom: 1px solid #000;
    font-family: 'Bree Serif', serif;
    height: 50px;
    text-align: left;
    vertical-align: bottom;
}

tr {
    height: 30px;
}

tr:nth-child(even) > td {
    background: #f2f2f2;
}

tr > td {
    text-align: left;
}