#register-container {

  .invalidPassword,
  .invalidUsername {
    border-color: red;

    &:hover {
      border-color: red;
    }

    & .MuiInputLabel-formControl {
      color: red;
    }

    & .MuiOutlinedInput-root {
      & fieldset {
        border-color: red;
      }
    }
  }
}