@import '../../styles/variables.scss';

#navbar {
  display: flex;
  justify-content: flex-end;

  .remove-this-later {
    color: $white;
    padding: 5px 20px;

    a,
    a:visited {
      text-decoration: none;
      color: inherit;
    }
  }
}