@import '../../styles/variables.scss';

#navbar {
  align-items: center;
  padding: 20px 0;

  .title-container {
    padding-bottom: 15px;

    .flurish-container {
      display: flex;
      justify-content: center;
      align-items: center;
  
      height: 3rem;
      flex-grow: 1;
      margin: 0 20px;
      border: 2px solid $black;
    }
  
    .page-title {
      display: flex;
      justify-content: center;
      font-size: 4rem;
      font-family: 'OldEnglish';
    }
  }
  
  .remove-this-later {
    color: $black;
    padding: 5px 0;
    border-top: 2px $black solid;
    border-bottom: 2px $black solid;

    a,
    a:visited {
      text-decoration: none;
      color: inherit;
    }
  }
}

#profile-dropdown-menu {
  a,
  a:visited {
    text-decoration: none;
    color: inherit;
  }
}