{% extends 'inc/base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block main %}

    <h1>Admin Dashboard</h1>

    <li><a href="{{ path('admin_new_user') }}">Create New User</a></li>
    <li><a href="{{ path('admin_new_admin') }}">Create New Admin</a></li>

{% endblock %}
