{% extends 'inc/base.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block main %}

    <main>
        <div class="wrapper">

            <h1>Admin Dashboard</h1>
            <span>Welcome, {{ app.user.username }}</span>

            <div class="dashboard">

                <a href="{{ path('new_post') }}">Create a Post</a>

                <a href="{{ path('news_index') }}">Review Posts</a>

            </div>

        </div>
    </main>


{% endblock %}
