form {
  align-content: center;
  border: 1px solid blue;
  background: #ccc;
  display: flex;
  flex-direction: column;
  width: 25%;

  .form-group {
    display: flex;
    flex-direction: column;

    .input-error {
      border: 1px solid red;
    }

    .error-msg {
      color: red;
      font-size: small;
    }
  }
}