$primary: #dd3e3d;
$secondary: #a9cbbf;
$tertiary: #b46464;

$white: rgb(241, 241, 241);
$black: rgb(32, 32, 32);

$dark-grey: #333;
$dark-grey-2: #42444c;
$dark-grey-3: #555;

$light-grey: #888;
$light-grey-2: #AAA;

$navbar: #7a4f21;
$background: #fcecb4;

$boon: rgb(99, 215, 99);
$boon-light: rgb(174, 219, 174);
$boon-dark: rgb(46, 102, 46);
$debuff: rgb(228, 81, 81);
$debuff-light: rgb(225, 153, 153);
$debuff-dark: rgb(72, 26, 26);