// NOTE: Any new colors added, must also be added to the _export.scss file

$primary: #f7ba20;
$secondary: #99e4a7;
$tertiary: #922213;

$white: rgb(241, 241, 241);
$black: rgb(32, 32, 32);

$dark-grey-1: #333;
$dark-grey-2: #42444c;
$dark-grey-3: #555;

$light-grey-1: #CCC;
$light-grey-2: #AAA;
$light-grey-3: #888;

$navbar: #481c1c;
$background: #fff8df;

$boon: rgb(99, 215, 99);
$boon-light: rgb(174, 219, 174);
$boon-dark: rgb(46, 102, 46);
$debuff: rgb(228, 81, 81);
$debuff-light: rgb(225, 153, 153);
$debuff-dark: rgb(72, 26, 26);