$primary: rgb(92, 25, 95);
$secondary: rgb(68, 163, 180);
$tertiary: rgb(210, 118, 44);

$white: #FFF;
$black: #000;

$dark-grey: #333;
$dark-grey-2: #555;

$light-grey: #888;
$light-grey-2: #AAA;

$boon: rgb(99, 215, 99);
$boon-light: rgb(174, 219, 174);
$boon-dark: rgb(46, 102, 46);
$debuff: rgb(228, 81, 81);
$debuff-light: rgb(225, 153, 153);
$debuff-dark: rgb(72, 26, 26);