#game-container {
    height: auto;
    background-image: url("assets/images/background/Old-Book.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

bad-guy, dmg-taken, enemy-hp, dmg-dealt, player-hp, hp-pot
{
    font-weight: bold;
    font-size: 18px;
}

bad-guy {
    color: rgb(184, 110, 14);
}

dmg-taken, enemy-hp {
    color: rgb(167, 27, 27);
}

dmg-dealt, player-hp {
    color: rgb(14, 121, 153);
}

hp-pot {
    color: rgb(17, 145, 17);
}

big-letter {
    font-size: 56px;
    display: inline;
}

bigger-letter {
    font-size: 60px;
    display: inline;
}

#game-frame {
    color: rgb(7, 6, 59);
    padding: 5px;
    display: flex;
    height: 650px;
    width: 900px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.game-frame-section {
    height: 520px;
    width: 300px;
    padding-bottom: 30px;
}

.gfs-large {
}

.gfs-small {
}

#activity-display {
    overflow-y: hidden;
    margin: 0;
    height: 100%;
}

#stats-display {
    font-size: 1.1em;
    padding: 5px;
    margin-bottom: 80px;
    height: 150px;
}

#button-container {
    font-size: 0;
    padding: 0;
    margin: 0;
}

.game-btn {
    color: rgb(71, 71, 71);
    font-size: 22px;
    margin: 15px 0;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Opera and Firefox */
}