@import '../../styles/variables.scss';

.play-page-container {
  color: $white;

  .boon {
    background: $boon;
    color: $white;

    svg {
      fill: $boon-light;
    }
  }

  .debuff {
    background: $debuff;
    color: $white;

    svg {
      fill: $debuff-light;
    }
  }
}