<header>
    <nav>
        <ul>
            <li><a href="{{ path('index') }}">Home</a></li>
            <li><a href="{{ path('play') }}">Play</a></li>
            <li><a href="{{ path('highscores') }}">Highscores</a></li>
        </ul>
    </nav>
</header>