<aside class="news">

    <article class="news-post">
        <h2 class="post-title">Post Title</h2>

        <div class="post-content">
            <p class="post-body">Post Content...</p>

            <p class="post-date">04/23/2019</p>
        </div>
    </article>

    <article class="news-post">
        <h2 class="post-title">Post Title</h2>

        <div class="post-content">
            <p class="post-body">Post Content...</p>

            <p class="post-date">04/23/2019</p>
        </div>
    </article>

    <article class="news-post">
        <h2 class="post-title">Post Title</h2>

        <div class="post-content">
            <p class="post-body">Post Content...</p>

            <p class="post-date">04/23/2019</p>
        </div>
    </article>

</aside>